<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>修改个人信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style>


        .wrapper {
            text-align: center;
            width: 40%;
            margin: 5% auto 0;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrapper">
    <!--<vo action="/u/edit" method="POST" th:object="${user}" accept-charset="UTF-8">-->
    <!--<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">-->
    <!--<ul>-->
    <!--<li th:each="err : ${#fields.errors('*')}"-->
    <!--th:text="${err}">Input has errors-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<table class="table table-bordered" >-->
    <!--<tr>-->
    <!--<td>用户名：</td>-->
    <!--<td><input th:value="*{username}" name="username"/></td>-->
    <!--<td></td>-->
    <!--</tr>-->
    <!--<input type="hidden" th:value="*{id}" name="id"/><br/>-->
    <!--<input type="hidden" th:value="*{password}" name="password"/>-->
    <!--<tr>-->
    <!--<td>原始密码：</td>-->
    <!--<td><input type="password" name="password_ori"/></td>-->
    <!--<td></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>新密码：</td>-->
    <!--<td><input type="password" name="password_new"/><br/></td>-->
    <!--<td></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>邮箱</td>-->
    <!--<td><input type="email" th:value="*{email}" name="email"/><br/> </td>-->
    <!--<td></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td colspan="3"><a href="" role="button" class="btn btn-info">更改信息</a></td>-->

    <!--</tr>-->
    <!--</table>-->
    <!--</vo>-->
    <form action="/u/edit" method="POST" th:object="${user}" accept-charset="UTF-8">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input has errors
                </li>
                <li th:if="${pwsNewError}!=null" th:text="${pwsNewError}">pwd error</li>
            </ul>
        </div>
        <div class="form-group">
            <label>用户名:</label>
            <p class="alert alert-danger" th:if="${msg} eq 'usernameExsit'" th:text="用户名已经被注册">username error</p>
            <input class="form-control" th:value="*{username}" name="username" placeholder="请输入用户名(3~20位)"/>
        </div>

        <input type="hidden" th:value="*{id}" name="id"/>
        <input type="hidden" th:value="*{password}" name="password"/>
        <div class="form-group">
            <label>原始密码:</label>
            <p class="alert alert-danger" th:if="${oriPwdError} != null " th:text="${oriPwdError}">password error</p>
            <input class="form-control" type="password" name="password_ori" placeholder="请输入原始密码"/>
        </div>

        <div class="form-group">
            <label>新密码:</label>
            <p class="alert alert-danger" th:if="${pwsNewError}!=null" th:text="${pwsNewError}">pwd error</p>
            <input class="form-control" type="password" name="password_new" placeholder="请输入新密码(6~15位)"/>
        </div>
        <div class="form-group">
            <label>邮箱:</label>
            <input class="form-control" type="email" th:value="*{email}" name="email" placeholder="请输入新邮箱"/>
        </div>
        <input class="form-control btn btn-info" type="submit" value="更改信息！" name="submit"/>
    </form>
</div>
<!--<vo action="/u/edit" method="POST" th:object="${user}" accept-charset="UTF-8">-->
<!--<div class="errors" th:if="${#fields.hasErrors('*')}">-->
<!--<ul>-->
<!--<li th:each="err : ${#fields.errors('*')}"-->
<!--th:text="${err}">Input has errors-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<label>用户名:</label>-->
<!--<input th:value="*{username}" name="username"/>-->
<!--<span style="color: red" th:if="${msg} eq 'usernameExsit'" th:text="用户名已经被注册">username error</span><br/>-->

<!--<input type="hidden" th:value="*{id}" name="id"/><br/>-->
<!--<input type="hidden"  th:value="*{password}" name="password" />-->
<!--<label>原始密码:</label>-->
<!--<input type="password"  name="password_ori" />-->
<!--<span style="color: red" th:if="${oriPwdError} != null " th:text="${oriPwdError}">password error</span><br/>-->

<!--<label>新密码:</label>-->
<!--<input type="password"  name="password_new"/><br/>-->

<!--<label>邮箱:</label>-->
<!--<input type="email" th:value="*{email}" name="email"/><br/>-->
<!--<input type="submit" value="更改信息！" name="submit"/>-->
<!--</vo>-->

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>