<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>搜索历史</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <style>
        .wrapper {
            text-align: center;

            margin: 5% auto 0;
        }

        .paging {
            text-align: center;
        }


    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="wrapper">
    <div th:if="${deleteSuccess} != null" th:text="${deleteSuccess}"
         class="alert alert-success" role="alert">删除成功
    </div>
    <div th:if="${deleteSuccess} == null">
        <div th:if="${history}==null or ${history.totalElements}==0" class="alert alert-danger" role="alert">
            <div class="alert alert-danger" role="alert">用户搜索记录为空！</div>
            <a th:href="@{'/u/'+${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}}"
               class="btn btn-info">返回用户信息首页！！</a></div>
    </div>
    <div class="mainContent" th:if="${history}!=null and ${history.totalElements} > 0 ">
        <div class="container">
            <table class="table table-hover">
                <tr>
                    <td><b>搜索关键字</b>(点击搜索)</td>
                    <td><b>搜索时间</b></td>
                </tr>
                <tr th:each="c : ${history.content}">
                    <td><a th:href="@{'/search?queryWord=' + ${c.searchHistory}}" th:text="${c.searchHistory}">搜索记录1</a></td>
                    <td th:text="${c.searchTime}">2017-9-5</td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{'/u/'+${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}} + '/searchHistory/delete'"
                           class="btn btn-danger">删除用户搜索记录！！</a></td>
                    <td><a th:href="@{'/u/'+${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}}"
                           class="btn btn-info">返回用户信息首页！！</a></td>
                </tr>
            </table>
        </div>
        <div class="container paging">
            <!--分页组件-->
            <nav aria-label="Page navigation" th:object="${history}">
                <ul class="pagination">
                    <!--首页-->
                    <li th:classappend="*{first} ? 'disabled' : ''">
                        <a th:href="@{'/u/'+${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}+'/searchHistory?page=0'} "
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!--中间的页码-->
                    <li th:each="i : ${#numbers.sequence(0,history.totalPages-1)}"
                        th:classappend="${(history.number ) eq i} ? 'active' : '' ">

                        <a th:href="@{'/u/'+${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}+'/searchHistory?page='+${i}}"
                           th:classappend="${(history.number +1) eq i} ? 'disabled' : '' ">
                            <span th:text="${i+1}">1</span>
                        </a>
                    </li>
                    <!--尾页-->
                    <li th:classappend="*{last} ? 'disabled' : ''">
                        <a th:href="@{'/u/'+${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}+'/searchHistory?page='+${history.totalPages-1}} "
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>