<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="container" style="text-align: center">
        <p>© 2017 风险监控系统 由<a target="_blank" href="http://www.jssi.org.cn/">江苏省质量和标准化研究院</a>和<a href="http://iip.nju.edu.cn" target="_blank">南京大学iip工作组</a>合作研制</p>
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</footer>
</body>

</html>