<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<footer th:fragment="footer" >
    <div class="place-holder" style="height: 40px;">

    </div>
    <div class="footer" style="position: fixed; bottom: 0px; width: 80%; margin-left: 10%;">
        <div class="container" style="text-align: center; width: 80%; margin: 0 auto;">
            <p>© 2017 缺陷信息大数据舆情监测系统 由<a target="_blank" href="http://www.jssi.org.cn/">江苏省缺陷产品管理技术中心</a>研制</p>
        </div>
    </div>
</footer>
</body>
</html>