<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>企业召回详细信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style type="text/css">
        .wrapper{
            margin-top: 60px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrapper">
    <h3 style="text-align: center">企业召回详情：<span th:text="${conpanyName}"></span></h3>
    <table class="table table-striped">
        <tr >
            <th>企业名</th>
            <th>召回信息</th>
        </tr>
        <tr th:each="i : ${urlList} " th:inline="text">
            <td th:text="${conpanyName}"></td>
            <td ><a th:href="${i}" th:text="'召回信息链接'" target="_blank"></a></td>
        </tr>
    </table>

</div>

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>