<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>企业负面清单</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <style type="text/css">
        .wrapper {
            margin-top: 60px;
        }

        .redTd {
            color: red;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrapper">

    <!--<div class="container"><a href="/com?sort=1"><button type="button" class="btn btn-info">按照通过率降序排列</button></a>-->
    <!--<a href="/com?sort=2"><button type="button" class="btn btn-info">按照通过率升序排列</button></a>-->
    <!--<a href="/com?sort=4"><button type="button" class="btn btn-info">按照案例数降序排列</button></a>-->
    <!--<a href="/com?sort=3"><button type="button" class="btn btn-info">按照案例数升序排列</button></a>-->
    <!--</div>-->
    <div>
        <form action="/com" th:object="${companyForm}" method="get" class="form-horizontal">
            <div class="form-group">
                <label for="factory" class="col-md-2" style="text-align: right; margin-top: 7px">企业名称</label>
                <div class="col-md-2">
                    <input class="form-control" type="text" id="factory" th:value="*{factory}" name="factory"/>
                </div>

                <label for="province" class="col-md-2" style="text-align: right; margin-top: 7px">企业所在省份</label>
                <div class="col-md-2">
                    <input class="form-control" type="text" id="province" th:value="*{province}" name="province"/>
                </div>

                <label for="sort" class="col-md-2" style="text-align: right; margin-top: 7px">排序方式</label>
                <div class="col-md-2">
                    <select class="form-control" th:value="*{sort}" name="sort" id="sort">
                        <option value="1" th:selected="${sort=='1'}">按照召回次数降序</option>
                        <option value="0" th:selected="${sort=='0'}">按照案例数降序</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input class="btn btn-primary" type="submit" value="搜索"/>
                </div>
            </div>
        </form>
    </div>


    <div class="container"><a href="/chart/comChart">
        <button type="button" class="btn btn-primary">查看统计图表</button>
    </a></div>
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>企业名称</th>
            <th>在案例库中搜索</th>
            <th>百度搜索</th>
            <th>悉知搜索</th>
            <th>案例数</th>
            <th>召回次数</th>
            <th>所在省份</th>
            <th>抽检合格率</th>

        </tr>
        <tr th:each="i : ${pnl}" th:if="${i.companyName}!=null and ${#strings.length(i.companyName)} gt 2">
            <td><a th:href="@{'/com/detail?name='+${i.companyName} }"><span th:text="${i.companyName}">name</span></a>
            </td>
            <td><a target="_blank" th:href="@{'/search?queryWord='} + ${i.companyName}"><span
                    class="label label-success">搜索</span></a>
            </td>
            <td><a target="_blank" th:href="'https://www.baidu.com/s?wd='+${i.companyName}"><span
                    class="label label-success">百度一下</span></a></td>
            <td><a target="_blank" th:href="'http://www.xizhi.com/search?wd='+${i.companyName}"><span
                    class="label label-success">悉知搜索</span></a></td>
            <td th:text="${i.caseNum}">1</td>
            <td><span th:text="${i.callbackNum}">0</span>
                <a th:href="@{'/com/callbackDetail?companyName='+${i.companyName }} "
                   th:if="${i.callbackNum>0}" target="_blank">详细信息</a>
            </td>
            <td th:text="${i.province}">江苏</td>
            <td th:text="${#numbers.formatInteger(i.passPercent*100,2) +'%'}">1</td>
        </tr>
    </table>

</div>

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>