<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>产品伤害案例库</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

    <style type="text/css">
        .wrapper {
            margin-top: 60px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrapper">
    <div><a href="/chart/injureChart" target="_blank">统计图表</a></div>
    <div>
        <form id="form" name="form1" action="/injurecase" th:object="${injureCaseForm}" class="form-horizontal">
            <div class="form-group">
                <label for="productName" class="col-md-2" style="text-align: right; margin-top: 7px">产品名称</label>
                <div class="col-md-2">
                    <input id="productName" class="form-control" type="text" th:value="*{productName}"
                           name="productName"/>
                </div>

                <label for="injureType" class="col-md-2" style="text-align: right; margin-top: 7px">伤害类别</label>
                <div class="col-md-2">
                    <input id="injureType" class="form-control" type="text" th:value="*{injureType}" name="injureType"/>
                </div>

                <label for="province" class="col-md-2" style="text-align: right; margin-top: 7px">发生省份</label>
                <div class="col-md-2">
                    <select class="form-control" id="province" name="province"
                            onchange="changeSelect(this.selectedIndex)">
                        <!--"请选择省份/直辖市", '北京', '上海', '天津', '重庆', '河北', '山西', '内蒙古', '辽宁', '吉林', '黑龙江', '江苏', '浙江', '安徽', '福建', '江西'
                        , '山东', '河南', '湖北', '湖南', '广东', '广西', '海南', '四川', '贵州', '云南', '西藏', '陕西', '甘肃', '宁夏', '青海', '新疆', '香港', '澳门', '台湾'-->
                        <option value="请选择省份/直辖市" th:selected="${injureCaseForm.province} == ''">全国</option>
                        <option value="北京" th:selected="${injureCaseForm.province} == '北京'">北京</option>
                        <option value="上海" th:selected="${injureCaseForm.province} == '上海'">上海</option>
                        <option value="天津" th:selected="${injureCaseForm.province} == '天津'">天津</option>
                        <option value="重庆" th:selected="${injureCaseForm.province} == '重庆'">重庆</option>
                        <option value="河北" th:selected="${injureCaseForm.province} == '河北'">河北</option>
                        <option value="山西" th:selected="${injureCaseForm.province} == '山西'">山西</option>
                        <option value="内蒙" th:selected="${injureCaseForm.province} == '内蒙'">内蒙</option>
                        <option value="辽宁" th:selected="${injureCaseForm.province} == '辽宁'">辽宁</option>
                        <option value="吉林" th:selected="${injureCaseForm.province} == '吉林'">吉林</option>
                        <option value="黑龙江" th:selected="${injureCaseForm.province} == '黑龙江'">黑龙江</option>
                        <option value="江苏" th:selected="${injureCaseForm.province} == '江苏'">江苏</option>
                        <option value="浙江" th:selected="${injureCaseForm.province} == '浙江'">浙江</option>
                        <option value="安徽" th:selected="${injureCaseForm.province} == '安徽'">安徽</option>
                        <option value="福建" th:selected="${injureCaseForm.province} == '福建'">福建</option>
                        <option value="江西" th:selected="${injureCaseForm.province} == '江西'">江西</option>
                        <option value="山东" th:selected="${injureCaseForm.province} == '山东'">山东</option>
                        <option value="河南" th:selected="${injureCaseForm.province} == '河南'">河南</option>
                        <option value="湖北" th:selected="${injureCaseForm.province} == '湖北'">湖北</option>
                        <option value="湖南" th:selected="${injureCaseForm.province} == '湖南'">湖南</option>
                        <option value="广东" th:selected="${injureCaseForm.province} == '广东'">广东</option>
                        <option value="广西" th:selected="${injureCaseForm.province} == '广西'">广西</option>
                        <option value="广西" th:selected="${injureCaseForm.province} == '海南'">海南</option>
                        <option value="四川" th:selected="${injureCaseForm.province} == '四川'">四川</option>
                        <option value="贵州" th:selected="${injureCaseForm.province} == '贵州'">贵州</option>
                        <option value="云南" th:selected="${injureCaseForm.province} == '云南'">云南</option>
                        <option value="西藏" th:selected="${injureCaseForm.province} == '西藏'">西藏</option>
                        <option value="陕西" th:selected="${injureCaseForm.province} == '陕西'">陕西</option>
                        <option value="甘肃" th:selected="${injureCaseForm.province} == '甘肃'">甘肃</option>
                        <option value="宁夏" th:selected="${injureCaseForm.province} == '宁夏'">宁夏</option>
                        <option value="青海" th:selected="${injureCaseForm.province} == '青海'">青海</option>
                        <option value="新疆" th:selected="${injureCaseForm.province} == '新疆'">新疆</option>
                        <option value="香港" th:selected="${injureCaseForm.province} == '香港'">香港</option>
                        <option value="澳门" th:selected="${injureCaseForm.province} == '澳门'">澳门</option>
                        <option value="台湾" th:selected="${injureCaseForm.province} == '台湾'">台湾</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="area" class="col-md-2" style="text-align: right; margin-top: 7px">城市</label>
                <div class="col-md-2">
                    <select id="area" class="form-control" type="text" name="area"></select>
                </div>

                <label for="injureDegree" class="col-md-2" style="text-align: right; margin-top: 7px">伤害程度</label>
                <div class="col-md-2">
                    <!--<input id="injureDegree" class="form-control" type="text" th:value="*{injureDegree}" name="injureDegree" />-->
                    <select class="form-control" id="injureDegree" name="injureDegree">
                        <option value="" th:selected="${injureCaseForm.injureDegree} == ''">全部</option>
                        <option value="1" th:selected="${injureCaseForm.injureDegree} == '1'">一级伤害</option>
                        <option value="2" th:selected="${injureCaseForm.injureDegree} == '2'">二级伤害</option>
                        <option value="3" th:selected="${injureCaseForm.injureDegree} == '3'">三级伤害</option>
                    </select>
                </div>

                <label for="dateFrom" class="col-md-2" style="text-align: right; margin-top: 7px">起始日期</label>
                <div class="col-md-2">
                    <input type="date" class="form-control" id="dateFrom" name="datefrom" th:value="*{datefrom}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="dateTo" class="col-md-2" style="text-align: right; margin-top: 7px">截至日期</label>
                <div class="col-md-2">
                    <input type="date" class="form-control" id="dateTo" name="dateto" th:value="*{dateto}"/>
                </div>

                <label for="sort" class="col-md-2" style="text-align: right; margin-top: 7px">排序方式</label>
                <div class="col-md-2">
                    <select class="form-control" id="sort" name="sort" th:value="*{sort}">
                        <option value="1" th:selected="${injureCaseForm.sort} == 1">发生时间升序</option>
                        <option value="2" th:selected="${injureCaseForm.sort} == 2">发生时间降序</option>
                        <option value="3" th:selected="${injureCaseForm.sort} == 3">严重程度升序</option>
                        <option value="4" th:selected="${injureCaseForm.sort} == 4">严重程度降序</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input class="btn btn-primary" type="submit" value="搜索"/>
                </div>
            </div>
            <div th:inline="text">共检索到[[${{injureCases.totalElements}}]]条案例！</div>

            <table class="table table-hover table-bordered table-striped">
                <tr>
                    <th>产品名称</th>
                    <th>伤害发生时间</th>
                    <th>伤害发生地点</th>
                    <th>伤害类别</th>
                    <th>伤害程度</th>
                </tr>
                <tr th:each="i : ${injureCases.content}"
                    th:if="${i.productName != null and ! #strings.isEmpty(i.productName)}">
                    <td><a target="_blank" th:href="${i.url}" th:text="${i.productName}"></a></td>
                    <td style="text-align: center" th:text="${#dates.format(i.injureTime, 'yyyy-MM-dd')}">1</td>
                    <td style="text-align: center" th:text="${i.injureArea}">1</td>
                    <td th:text="${i.injureType}">1</td>
                    <td style="text-align: center">
                        <span th:if="${i.injureDegree} eq '1'" th:text="一级伤害"></span>
                        <span th:if="${i.injureDegree} eq '2'" th:text="二级伤害"></span>
                        <span th:if="${i.injureDegree} eq '3'" th:text="三级伤害"></span>
                    </td>
                </tr>
            </table>


            <div class="container paging">
                <!--分页组件-->
                <nav aria-label="Page navigation" th:object="${injureCases}">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <span>共<span th:text="${injureCases.totalPages}">1</span>页</span>
                        </li>
                        <!--当前页-->
                        <li class="page-item disabled">
                            <span th:inline="text">当前页码：[[${injureCases.number}+1]]</span>
                        </li>
                        <!--前往-->
                        <li class="page-item">
                            输入页码：<input id="page" type="text" name="page" th:value="${injureCaseForm.page}"/>
                            <input type="submit" value="前往"/>
                        </li>
                        <!--上一页-->
                        <li class="page-item" th:classappend="${injureCases.isFirst()} ? 'disabled' : ''">
                            <a id="prev" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">←</span>
                            </a>
                        </li>

                        <!--下一页-->
                        <li class="page-item" th:classappend="${injureCases.isLast()} ? 'disabled' : ''">
                            <a id="next" class="page-link" aria-label="Next">
                                <span aria-hidden="true">→</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/float-footer :: footer">...</div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script charset="uft-8" th:inline='javascript'>//<![CDATA[
var arr_province = ["请选择省份/直辖市", '北京', '上海', '天津', '重庆', '河北', '山西', '内蒙古', '辽宁', '吉林', '黑龙江', '江苏', '浙江', '安徽', '福建', '江西', '山东', '河南', '湖北', '湖南', '广东', '广西', '海南', '四川', '贵州', '云南', '西藏', '陕西', '甘肃', '宁夏', '青海', '新疆', '香港', '澳门', '台湾'];
var arr_city = [
    ["请选择城市/地区"],
    ["北京"],
    ["上海"],
    ["天津"],
    ["重庆"],
    ["全部", "石家庄", "张家口", "承德", "秦皇岛", "唐山", "廊坊", "保定", "衡水", "沧州", "邢台", "邯郸"],
    ["全部", "太原", "朔州", "大同", "阳泉", "长治", "晋城", "忻州", "晋中", "临汾", "吕梁", "运城"],
    ["全部", "呼和浩特", "包头", "乌海", "赤峰", "通辽", "呼伦贝尔", "鄂尔多斯", "乌兰察布", "巴彦淖尔", "兴安盟", "锡林郭勒盟", "阿拉善盟"],
    ["全部", "沈阳", "朝阳", "阜新", "铁岭", "抚顺", "本溪", "辽阳", "鞍山", "丹东", "大连", "营口", "盘锦", "锦州", "葫芦岛"],
    ["全部", "长春", "白城", "松原", "吉林", "四平", "辽源", "通化", "白山", "延边州"],
    ["全部", "哈尔滨", "齐齐哈尔", "七台河", "黑河", "大庆", "鹤岗", "伊春", "佳木斯", "双鸭山", "鸡西", "牡丹江", "绥化", "大兴安岭地区"],
    ["全部", "南京", "徐州", "连云港", "宿迁", "淮安", "盐城", "扬州", "泰州", "南通", "镇江", "常州", "无锡", "苏州"],
    ["全部", "杭州", "湖州", "嘉兴", "舟山", "宁波", "绍兴", "衢州", "金华", "台州", "温州", "丽水"],
    ["全部", "合肥", "宿州", "淮北", "亳州", "阜阳", "蚌埠", "淮南", "滁州", "马鞍山", "芜湖", "铜陵", "安庆", "黄山", "六安", "巢湖", "池州", "宣城"],
    ["全部", "福州", "南平", "莆田", "三明", "泉州", "厦门", "漳州", "龙岩", "宁德"],
    ["全部", "南昌", "九江", "景德镇", "鹰潭", "新余", "萍乡", "赣州", "上饶", "抚州", "宜春", "吉安"],
    ["全部", "济南", "青岛", "聊城", "德州", "东营", "淄博", "潍坊", "烟台", "威海", "日照", "临沂", "枣庄", "济宁", "泰安", "莱芜", "滨州", "菏泽"],
    ["全部", "郑州", "开封", "三门峡", "洛阳", "焦作", "新乡", "鹤壁", "安阳", "濮阳", "商丘", "许昌", "漯河", "平顶山", "南阳", "信阳", "周口", "驻马店", "济源"],
    ["全部", "武汉", "十堰", "襄樊", "荆门", "孝感", "黄冈", "鄂州", "黄石", "咸宁", "荆州", "宜昌", "随州", "省直辖县级行政单位", "恩施州"],
    ["全部", "长沙", "张家界", "常德", "益阳", "岳阳", "株洲", "湘潭", "衡阳", "郴州", "永州", "邵阳", "怀化", "娄底", "湘西州"],
    ["全部", "广州", "深圳", "清远", "韶关", "河源", "梅州", "潮州", "汕头", "揭阳", "汕尾", "惠州", "东莞", "珠海", "中山", "江门", "佛山", "肇庆", "云浮", "阳江", "茂名", "湛江"],
    ["全部", "南宁", "桂林", "柳州", "梧州", "贵港", "玉林", "钦州", "北海", "防城港", "崇左", "百色", "河池", "来宾", "贺州"],
    ["全部", "海口", "三亚", "省直辖县级行政单位"],
    ["全部", "成都", "广元", "绵阳", "德阳", "南充", "广安", "遂宁", "内江", "乐山", "自贡", "泸州", "宜宾", "攀枝花", "巴中", "达州", "资阳", "眉山", "雅安", "阿坝州", "甘孜州", "凉山州"],
    ["全部", "贵阳", "六盘水", "遵义", "安顺", "毕节地区", "铜仁地区", "黔东南州", "黔南州", "黔西南州"],
    ["全部", "昆明", "曲靖", "玉溪", "保山", "昭通", "丽江", "思茅", "临沧", "德宏州", "怒江州", "迪庆州", "大理州", "楚雄州", "红河州", "文山州", "西双版纳州"],
    ["全部", "拉萨", "那曲地区", "昌都地区", "林芝地区", "山南地区", "日喀则地区", "阿里地区"],
    ["全部", "西安", "延安", "铜川", "渭南", "咸阳", "宝鸡", "汉中", "榆林", "安康", "商洛"],
    ["全部", "兰州", "嘉峪关", "白银", "天水", "武威", "酒泉", "张掖", "庆阳", "平凉", "定西", "陇南", "临夏州", "甘南州"],
    ["全部", "西宁", "海东地区", "海北州", "海南州", "黄南州", "果洛州", "玉树州", "海西州"],
    ["全部", "银川", "石嘴山", "吴忠", "固原", "中卫"],
    ["全部", "乌鲁木齐", "克拉玛依", "自治区直辖县级行政单位", "喀什地区", "阿克苏地区", "和田地区", "吐鲁番地区", "哈密地区", "克孜勒苏柯州", "博尔塔拉州", "昌吉州", "巴音郭楞州", "伊犁州", "塔城地区", "阿勒泰地区"],
    ["全部", "香港"],
    ["全部", "澳门"],
    ["全部", "台北", "高雄", "台中", "花莲", "基隆", "嘉义", "金门", "连江", "苗栗", "南投", "澎湖", "屏东", "台东", "台南", "桃园", "新竹", "宜兰", "云林", "彰化"],
];


$(function () {
    //alert("11");
    var area = [[${injureCaseForm.area}]];
    var index = $("#province").get(0).selectedIndex;
    var areaIndex = 0;
    for (var j = 0; j < arr_city[index].length; j++) {
        console.log(arr_city[index][j]);
        $("#area").append("<option value='" + arr_city[index][j] + "'>" + arr_city[index][j] + "</option>");
        if (arr_city[index][j] === area) {
            areaIndex = j;
        }

    }

    $("#area").get(0).selectedIndex = areaIndex;
});

function changeSelect(index) {

    //选择对象
    var city = document.form1.area;
    //修改省份列表的选择项
    province.selectedIndex = index;

    //指定城市中<option>标记的个数
    city.length = arr_city[index].length;

    //循环将数组中的数据写入<option>标记中
    for (var j = 0; j < arr_city[index].length; j++) {
        city.options[j].text = arr_city[index][j];
        city.options[j].value = arr_city[index][j];
    }
}

function changePagetoOne(form1) {
    form1.page = 1;
    return true;
}


var productName = [[${injureCaseForm.productName}]];
var province = [[${injureCaseForm.province}]];
var injureDegree = [[${injureCaseForm.injureDegree}]];
var area = [[${injureCaseForm.area}]];
var injureType = [[${injureCaseForm.injureType}]];
var sort = [[${injureCaseForm.sort}]];
var page = [[${injureCaseForm.page}]];


$("#form").submit(function () {
    var proName = $("#productName").val();
    var injuType = $("#injureType").val();
    var prov = $("#province").val();
    var injud = $("#injureDegree").val();
    var areaName = $("#area").val();
    var dateF = $("#dateFrom").val();
    var dateT = $("#dateTo").val();
    if (productName !== proName || injureType !== injuType ||
        prov !== province || areaName !== area || injud !== injureDegree ||
        dateF !== datefrom || dateT !== dateto) {
        $("#page").val(1);
    }

});

function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
    if (r != null) return decodeURI(r[2]);
    return null; //返回参数值
}


function getString(s) {
    if (s == null || 0 === s.length) {
        return ""
    } else {
        return s;
    }
};

productName = getString(productName);
province = getString(province);
injureDegree = getString(injureDegree);
area = getString(area);
injureType = getString(injureType);


var datefrom = getUrlParam("datefrom");
var dateto = getUrlParam("dateto");

nextPage = Number(page) + 1;
prevPage = Number(page) - 1;

var path = window.location.pathname;
var requestParam = "?province="
    + province + "&injureDegree=" + injureDegree + "&datefrom=" + datefrom
    + "&dateto=" + dateto + "&productName=" + productName + "&area=" + area
    + "&injureType=" + injureType + "&sort=" + sort + "&page=";
//productName=&injureType=&province=&area=&injureDegree=&datefrom=&dateto=&sort=2&page=0
$(".content > td > a").each(function (index) {
    $(this).attr("href", path + requestParam + $(this).attr("id"));
});

$("#next").attr("href", path + requestParam + nextPage);
if (prevPage <= 0) {
    prevPage = 1;
}
$("#prev").attr("href", path + requestParam + prevPage);
//]]></script>
</html>