<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>产品负面清单</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <style type="text/css">
        .wrapper {
            margin-top: 60px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrapper">
    <div class="container">
        <form action="/productList" method="get" class="form-horizontal" th:object="${form}">
            <div class="form-group">
                <label for="productName" class="col-md-2" style="text-align: right; margin-top: 7px">产品名</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="productName" id="productName" th:value="*{productName}"/>
                </div>

                <label for="province" class="col-md-2" style="text-align: right; margin-top: 7px">发生地点</label>
                <div class="col-md-2">
                    <select class="form-control" id="province" name="province">
                        <option value="" th:selected="${form.province} == ''">全国</option>
                        <option value="北京" th:selected="${form.province} == '北京'">北京</option>
                        <option value="上海" th:selected="${form.province} == '上海'">上海</option>
                        <option value="重庆" th:selected="${form.province} == '重庆'">重庆</option>
                        <option value="天津" th:selected="${form.province} == '天津'">天津</option>
                        <option value="江苏" th:selected="${form.province} == '江苏'">江苏</option>
                        <option value="河北" th:selected="${form.province} == '河北'">河北</option>
                        <option value="山西" th:selected="${form.province} == '山西'">山西</option>
                        <option value="辽宁" th:selected="${form.province} == '辽宁'">辽宁</option>
                        <option value="吉林" th:selected="${form.province} == '吉林'">吉林</option>
                        <option value="黑龙江" th:selected="${form.province} == '黑龙江'">黑龙江</option>
                        <option value="浙江" th:selected="${form.province} == '浙江'">浙江</option>
                        <option value="安徽" th:selected="${form.province} == '安徽'">安徽</option>
                        <option value="福建" th:selected="${form.province} == '福建'">福建</option>
                        <option value="江西" th:selected="${form.province} == '江西'">江西</option>
                        <option value="山东" th:selected="${form.province} == '山东'">山东</option>
                        <option value="广东" th:selected="${form.province} == '广东'">广东</option>
                        <option value="河南" th:selected="${form.province} == '河南'">河南</option>
                        <option value="湖北" th:selected="${form.province} == '湖北'">湖北</option>
                        <option value="湖南" th:selected="${form.province} == '湖南'">湖南</option>
                        <option value="广东" th:selected="${form.province} == '广东'">广东</option>
                        <option value="四川" th:selected="${form.province} == '四川'">四川</option>
                        <option value="贵州" th:selected="${form.province} == '贵州'">贵州</option>
                        <option value="云南" th:selected="${form.province} == '云南'">云南</option>
                        <option value="陕西" th:selected="${form.province} == '陕西'">陕西</option>
                        <option value="甘肃" th:selected="${form.province} == '甘肃'">甘肃</option>
                        <option value="青海" th:selected="${form.province} == '青海'">青海</option>
                        <option value="台湾" th:selected="${form.province} == '台湾'">台湾</option>
                        <option value="内蒙" th:selected="${form.province} == '内蒙'">内蒙</option>
                        <option value="广西" th:selected="${form.province} == '广西'">广西</option>
                        <option value="西藏" th:selected="${form.province} == '西藏'">西藏</option>
                        <option value="宁夏" th:selected="${form.province} == '宁夏'">宁夏</option>
                        <option value="新疆" th:selected="${form.province} == '新疆'">新疆</option>
                        <option value="香港" th:selected="${form.province} == '香港'">香港</option>
                        <option value="澳门" th:selected="${form.province} == '澳门'">澳门</option>
                    </select>
                </div>

                <label for="injureDegree" class="col-md-2" style="text-align: right; margin-top: 7px">伤害程度</label>
                <div class="col-md-2">
                    <select class="form-control" id="injureDegree" name="injureDegree">
                        <option value="" th:selected="${form.injureDegree} == ''">全部</option>
                        <option value="3" th:selected="${form.injureDegree} == '3'">轻度</option>
                        <option value="2" th:selected="${form.injureDegree} == '2'">中度</option>
                        <option value="1" th:selected="${form.injureDegree} == '1'">重度</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="dateFrom" class="col-md-2" style="text-align: right; margin-top: 7px">起始日期</label>
                <div class="col-md-2">
                    <input type="date" class="form-control" id="dateFrom" name="datefrom" th:value="*{datefrom}"/>
                </div>

                <label for="dateTo" class="col-md-2" style="text-align: right; margin-top: 7px">截至日期</label>
                <div class="col-md-2">
                    <input type="date" class="form-control" id="dateTo" name="dateto" th:value="*{dateto}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input class="btn btn-primary" type="submit" value="搜索"/>
                </div>
            </div>
        </form>

        <br/>

        <table class="table table-hover table-bordered table-striped">
            <tr>
                <th>产品名称</th>
                <th>案例数</th>
                <th>影响地区数</th>
                <th>地区分布</th>
                <th>主要发生问题</th>
                <th>伤害指数</th>
            </tr>

            <tr class="content" th:each=" i : ${proList}" th:if="${proList!=null and proList.size()>=0}">
                <td><a target="_blank" th:id="${i.productName}" ><span th:text="${i.productName}">111</span></a></td>
                <td th:text="${i.caseNum}">111</td>
                <td th:text="${i.area.size()}">111</td>
                <td th:text="${i.areaString}"></td>
                <td th:text="${i.mainReason}">111</td>
                <td th:text="${i.injureIndex}">111</td>
            </tr>

        </table>

    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script charset="uft-8" th:inline='javascript'>//<![CDATA[
function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
    if (r != null) return decodeURI(r[2]);
    return null; //返回参数值
}

var productName = [[${form.productName}]];
var province = [[${form.province}]];
var injureDegree = [[${form.injureDegree}]];

if (productName == null || productName.length == 0) {
    productName = "";
}
if (province == null || province.length == 0) {
    province = "";
}
if (injureDegree == null || injureDegree.length == 0) {
    injureDegree = "";
}
var datefrom = getUrlParam("datefrom");
var dateto = getUrlParam("dateto");
var path = window.location.pathname;
var requestParam = "/productDetail?province="
    + province + "&injureDegree=" + injureDegree + "&datefrom="
    + datefrom + "&dateto=" + dateto+ "&productName="+productName+"&realName="

$(".content > td > a").each(function (index) {
    $(this).attr("href",path+requestParam+$(this).attr("id"));
});


//]]></script>
</html>
