<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>详细信息</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <style type="text/css">
        .wrapper {
            margin-top: 60px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrapper">
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th>产品名称</th>
                <th>伤害发生时间</th>
                <th>伤害发生地点</th>
                <th>伤害类型</th>
                <th>伤害严重程度</th>
            </tr>

            <tr th:each="i : ${product.injureCases}">
                <td><a target="_blank" th:href="${i.url}" th:text="${i.productName}"></a></td>
                <td th:text="${#dates.format(i.injureTime, 'yyyy-MM-dd')}">1</td>
                <td th:text="${i.injureArea}">1</td>
                <td th:text="${i.injureType}">1</td>
                <td>
                    <span th:if="${i.injureDegree} eq '1'" th:text="一级伤害"></span>
                    <span th:if="${i.injureDegree} eq '2'" th:text="二级伤害"></span>
                    <span th:if="${i.injureDegree} eq '3'" th:text="三级伤害"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
