<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>设置</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style type="text/css">
        .wrapper {
            margin-top: 60px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrapper">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="dataSourceName" class="col-sm-2 control-label">数据源名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dataSourceName" placeholder="数据源名称"/>
                </div>
            </div>
            <div class="form-group">
                <label for="dataSourceUrl" class="col-sm-2 control-label">数据源url</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dataSourceUrl" placeholder="数据源url"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="dataSourceType" id="dataSourceType1" value="0"/> 新闻网站
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="dataSourceType" id="dataSourceType2" value="1"/> 政府官网
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="dataSourceType" id="dataSourceType3" value="2"/> 微博账号
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="dataSourceType" id="dataSourceType4" value="3"/> 其他
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" onclick="alert('提交成功')" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>

    </div>
    <div class="container">

        <form method="post" action="/dataSource/hosUp" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group"><label th:text="${msg}" class="col-sm-2 control-label" style="color: red">message</label></div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputFile">上传医院数据（excel）</label>
                <input type="file" id="inputFile" name="file"/>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="height: 50px"></div>
<div th:replace="fragments/footer :: footer">...</div>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#setting").addClass("active");
    $("#setting").siblings().removeClass("active");
</script>
</body>
</html>