<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'>
<head>
    <meta charset='UTF-8'/>
    <title>医院数据统计图</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

    <style type='text/css'>
        .wrapper {
            margin-top: 60px;
        }
    </style>

</head>
<body>
<div th:replace='fragments/header :: header'></div>

<div class='wrapper container'>
    <div id='main1' style='width: 80%;height:600px;'></div>
    <div id='main2' style='width: 80%;height:600px;'></div>
    <div id='main3' style='width: 80%;height:600px;'></div>
</div>
<script src='http://echarts.baidu.com/build/dist/echarts-all.js'></script>
<div th:replace='fragments/footer :: footer'>...</div>
</body>

<script type='text/javascript' th:inline='javascript'>
    var myChart1 = echarts.init(document.getElementById('main3'));
    var option1 = {
        title : {
            text: '受伤地点统计图',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            data:['体育和运动场所','公共居住场所','公路/街道','其他/不清楚','农田/农场','学校与公共场所','家中','工业和建筑场所','贸易和服务场所']
        },
        // toolbox: {
        //     show : true,
        //     feature : {
        //         mark : {show: true},
        //         dataView : {show: true, readOnly: false},
        //         magicType : {
        //             show: true,
        //             type: ['pie', 'funnel'],
        //             option: {
        //                 funnel: {
        //                     x: '25%',
        //                     width: '50%',
        //                     funnelAlign: 'left',
        //                     max: 1548
        //                 }
        //             }
        //         },
        //         restore : {show: true},
        //         saveAsImage : {show: true}
        //     }
        // },
        calculable : true,
        series : [
            {
                name:'受伤地点',
                type:'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {name:'体育和运动场所', value:[[${map.get('体育和运动场所')}]]},
                    {name:'公共居住场所', value:[[${map.get('公共居住场所')}]]},
                    {name:'公路/街道', value:[[${map.get('公路/街道')}]]},
                    {name:'其他/不清楚', value:[[${map.get('其他/不清楚')}]]},
                    {name:'农田/农场', value:[[${map.get('农田/农场')}]]},
                    {name:'学校与公共场所', value:[[${map.get('学校与公共场所')}]]},
                    {name:'家中', value:[[${map.get('家中')}]]},
                    {name:'工业和建筑场所', value:[[${map.get('工业和建筑场所')}]]},
                    {name:'贸易和服务场所', value:[[${map.get('贸易和服务场所')}]]}
                ]
            }
        ]
    };
    myChart1.setOption(option1);


    var myChart2 = echarts.init(document.getElementById('main2'));
    var option2 = {
        title : {
            text: '伤害事件月份统计图',

        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['事件数']
        },
        // toolbox: {
        //     show : true,
        //     feature : {
        //         mark : {show: true},
        //         dataView : {show: true, readOnly: false},
        //         magicType : {show: true, type: ['line', 'bar']},
        //         restore : {show: true},
        //         saveAsImage : {show: true}
        //     }
        // },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'伤害事件数',
                type:'bar',
                data:[[${list}]],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };
    myChart2.setOption(option2);

    var myChart3 = echarts.init(document.getElementById('main1'));
    var option3 = {
        title : {
            text: '主成分分析预警指数',

        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['预警程度']
        },
        // toolbox: {
        //     show : true,
        //     feature : {
        //         mark : {show: true},
        //         dataView : {show: true, readOnly: false},
        //         magicType : {show: true, type: ['line', 'bar']},
        //         restore : {show: true},
        //         saveAsImage : {show: true}
        //     }
        // },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : [[${pcakey}]]
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'伤害事件数',
                type:'bar',
                data:[[${pcavalue}]]
            }
        ]
    };
    myChart3.setOption(option3);
</script>
</html>