<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pro}+'企业合格率统计图'"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style type="text/css">
        .wrapper {
            margin-top: 60px;
        }
    </style>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="wrapper">
    <div id="main1" style="width:60%;height:600px;margin:0 auto;"></div>
</div>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<div th:replace="fragments/footer :: footer">...</div>
</body>

<script type="text/javascript" th:inline="javascript">
    var myChart1 = echarts.init(document.getElementById('main1'));
    var option1 = {
        title : {
            text: [[${pro}]]+'企业产品合格率统计图',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            y : '5%',
            data:['80-100%','60-80%','40-60%','0-40%']

        },
        // toolbox: {
        //     show : true,
        //     feature : {
        //         mark : {show: true},
        //         dataView : {show: true, readOnly: false},
        //         magicType : {
        //             show: true,
        //             type: ['pie', 'funnel'],
        //             option: {
        //                 funnel: {
        //                     x: '25%',
        //                     width: '50%',
        //                     funnelAlign: 'left',
        //                     max: 1548
        //                 }
        //             }
        //         },
        //         restore : {show: true},
        //         saveAsImage : {show: true}
        //     }
        // },
        calculable : true,
        series : [
            {
                name:'企业数量',
                type:'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:[[${percent[0]}]], name:'80-100%'},
                    {value:[[${percent[1]}]], name:'60-80%'},
                    {value:[[${percent[2]}]], name:'40-60%'},
                    {value:[[${percent[3]}]], name:'0-40%'},

                ]
            }
        ]
    };
    myChart1.setOption(option1);


</script>
</html>