<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>伤害事件地区统计图</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <style type="text/css">
        .wrapper {
            margin-top: 60px;
        }
    </style>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="wrapper">
    <div id="main1" style="width: 80%;height:600px;"></div>
</div>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<div th:replace="fragments/footer :: footer">...</div>
</body>

<script type="text/javascript" th:inline="javascript">
    var myChart1 = echarts.init(document.getElementById('main1'));
    var option1 = {
        title: {
            text: '伤害事件地区分布图',
            x: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data: ['事件数']
        },
        dataRange: {
            min: 0,
            max: [[${max}]],
            x: 'left',
            y: 'bottom',
            color:['red','pink'],
            text: ['多', '少'],
            calculable: true
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            x: 'right',
            y: 'center',
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        roamController: {
            show: true,
            x: 'right',
            mapTypeControl: {
                'china': true
            }
        },
        series: [
            {
                name: '事件数',
                type: 'map',
                mapType: 'china',
                roam: false,
                itemStyle: {
                    normal: {label: {show: true}},
                    emphasis: {label: {show: true}}
                },
                data: [
                    {name: '北京', value: [[${treemap.get("北京市")}]]},
                    {name: '天津', value: [[${treemap.get("天津市")}]]},
                    {name: '上海', value: [[${treemap.get("上海市")}]]},
                    {name: '重庆', value: [[${treemap.get("重庆市")}]]},
                    {name: '河北', value: [[${treemap.get("河北省")}]]},
                    {name: '河南', value: [[${treemap.get("河南省")}]]},
                    {name: '云南', value: [[${treemap.get("云南省")}]]},
                    {name: '辽宁', value: [[${treemap.get("辽宁省")}]]},
                    {name: '黑龙江', value: [[${treemap.get("黑龙江省")}]]},
                    {name: '湖南', value: [[${treemap.get("湖南省")}]]},
                    {name: '安徽', value: [[${treemap.get("安徽省")}]]},
                    {name: '山东', value: [[${treemap.get("山东省")}]]},
                    {name: '新疆', value: [[${treemap.get("新疆省")}]]},
                    {name: '江苏', value: [[${treemap.get("江苏省")}]]},
                    {name: '浙江', value: [[${treemap.get("浙江省")}]]},
                    {name: '江西', value: [[${treemap.get("江西省")}]]},
                    {name: '湖北', value: [[${treemap.get("湖北省")}]]},
                    {name: '广西', value: [[${treemap.get("广西壮族自治区")}]]},
                    {name: '甘肃', value: [[${treemap.get("甘肃省")}]]},
                    {name: '山西', value: [[${treemap.get("山西省")}]]},
                    {name: '内蒙古', value: [[${treemap.get("内蒙古自治区")}]]},
                    {name: '陕西', value: [[${treemap.get("陕西省")}]]},
                    {name: '吉林', value: [[${treemap.get("吉林省")}]]},
                    {name: '福建', value: [[${treemap.get("福建省")}]]},
                    {name: '贵州', value: [[${treemap.get("贵州省")}]]},
                    {name: '广东', value: [[${treemap.get("广东省")}]]},
                    {name: '青海', value: [[${treemap.get("青海省")}]]},
                    {name: '西藏', value: [[${treemap.get("西藏")}]]},
                    {name: '四川', value: [[${treemap.get("四川省")}]]},
                    {name: '宁夏', value: [[${treemap.get("宁夏回族自治区")}]]},
                    {name: '海南', value: [[${treemap.get("海南省")}]]},

                ]
            },

        ]
    };
    myChart1.setOption(option1);


</script>
</html>