<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>企业负面清单</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <style type="text/css">
        .wrapper{
            margin-top: 60px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container wrapper">
    <a href="/com?sort=1">按照通过率降序排列</a>
    <a href="/com?sort=2">按照通过率升序排列</a>
    <a href="/com?sort=4">按照案例数降序排列</a>
    <a href="/com?sort=3">按照案例数升序排列</a>

    <div><a href="/comChart">查看统计图表</a></div>
    <table class="table table-hover">
        <tr>
            <th>企业名称</th>
            <th>案例数</th>
            <th>召回次数</th>
            <th>抽检合格率</th>

        </tr>
        <tr th:each="i : ${pnl.content}" th:if="${i.companyName}!=null and ${#strings.length(i.companyName)} gt 2">
            <td th:text="${i.companyName}">1</td>
            <td th:text="${i.caseNum}">1</td>
            <td th:text="${i.callbackNum}">1</td>
            <td th:text="${i.passPercent}">1</td>
        </tr>
    </table>

</div>

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>