<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>医院数据展示</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <style type="text/css">
        .main{
            width: 90%;
            margin-top: 60px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container main">
    <div><a href="/hosChart">统计图表</a></div>
    <table class="table table-hover">
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>伤害发生时间</th>
            <th>就诊时间</th>
            <th>伤害发生原因</th>
            <th>伤害涉及物品</th>
            <th>伤害发生地点</th>
            <th>伤害发生时活动</th>
            <th>伤害部位</th>
            <th>伤害临床诊断</th>
            <th>伤害严重程度</th>
            <th>伤害结局</th>
            <th>是否饮酒</th>
            <th>产品质量是否有关</th>
        </tr>
        <tr th:each="i : ${hos.content}" >
            <td th:text="${i.name}">1</td>
            <td th:text="${i.gender}">1</td>
            <td th:text="${i.age}">1</td>
            <td th:text="${#dates.format(i.injureDate, 'yyyy-MM-dd')}">1</td>
            <td th:text="${#dates.format(i.visDate, 'yyyy-MM-dd')}">1</td>
            <td th:text="${i.injureReason}">1</td>
            <td th:text="${i.product}">1</td>
            <td th:text="${i.injureLocation}">1</td>
            <td th:text="${i.activityWhenInjure}">1</td>
            <td th:text="${i.injureSite}">1</td>
            <td th:text="${i.injurejudge}">1</td>
            <td th:text="${i.injureDegree}">1</td>
            <td th:text="${i.injureResult}">1</td>
            <td th:text="${i.alcohol}">1</td>
            <td th:text="${i.howGetInjure}">1</td>
        </tr>
    </table>

</div>

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>