<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <title>树蛙搜索</title>
    <style>

        .wrapper {
            position: relative;
            text-align: center;
            width: 40%;
            margin: 0 auto;
            margin-top: 70px;
            padding-bottom:50px;

        }

        .footer{height:50px;position:fixed;bottom:0px;left:0px;}
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!--<div sec:authorize="isAuthenticated()">-->
<!--<div><span sec:authentication="name">someone</span>,您已经登录!</div>-->

<!--<div><a th:href="@{'/u/' + ${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}}">查看个人信息</a></div>-->
<!--<div><a href="/logout">退出！</a></div>-->
<!--</div>-->
<!--<div sec:authorize="isAnonymous()">-->
<!--<a href="/login">请登录：</a>-->
<!--<a href="/signup">没有账号？点这儿注册！</a>-->
<!--</div>-->
<div class="wrapper">
    <div class="logo"><img src="pic/shuwa.jpg" alt="树蛙一下，你就知道"/></div>

    <div class="searchForm">
        <form action="/search" method="get">
            <input type="text" name="queryWord"/>
            <input type="submit" value="树蛙一下"/>
        </form>
    </div>

</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>