<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户个人信息</title>
</head>
<body>
    <div th:if="${msg} eq null" th:object="${user}">
        <div>以下是您的个人信息</div>
        <div>用户名：<span th:text="*{username}">username_test</span></div>
        <div>邮箱：<span th:text="*{email}">email_test</span></div>
        <div><a th:href="@{'/u/'+${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}+'/edit'}">修改我的信息</a></div>
        <div><a th:href="@{'/u/'+${user.id}+'/searchHistory'}">查看我的搜索历史</a></div>
        <div>用户浏览历史：todo</div>
    </div>

</body>
</html>